<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Estatísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #fff;">
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 60vh;">
    <span style="font-size: 1.2rem; color: #222; text-align: center;">
      Utilize a aplicação durante 1 semana para obter as estatíticas do seu consumo
    </span>
  </div>
</ion-content>