<ion-header>
  <ion-toolbar>
    <ion-title>{{ isSignup ? 'Sign Up' : 'Login' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleMode()">
        {{ isSignup ? 'Já tenho conta' : 'Criar conta' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #fff;">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" style="max-width: 350px; margin: 40px auto;">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome de Utilizador</ion-label>
        <ion-input formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="isSignup">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input formControlName="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="authForm.invalid" style="margin-top: 24px;">
      {{ isSignup ? 'Criar Conta' : 'Entrar' }}
    </ion-button>
  </form>
</ion-content>
