<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" class="ion-padding">
  <div class="signup-container">
    <ion-list lines="none" class="signup-form">
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          placeholder="Digite seu e-mail"
          (ionFocus)="scrollToElement($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nome do Utilizador</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="username" 
          placeholder="Digite seu nome"
          (ionFocus)="scrollToElement($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Palavra-Passe</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="password" 
          placeholder="Mínimo 6 caracteres"
          (ionFocus)="scrollToElement($event)">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar Palavra-Passe</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="confirmPassword" 
          placeholder="Confirme sua palavra-passe"
          (ionFocus)="scrollToElement($event)">
        </ion-input>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button 
        fill="outline" 
        color="secondary" 
        expand="block" 
        (click)="onBack()">
        Voltar
      </ion-button>
      <ion-button 
        expand="block" 
        (click)="onSignup()" 
        [disabled]="!email || !username || !password || !confirmPassword">
        Criar Conta
      </ion-button>
    </div>
  </div>
</ion-content>
