<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #fff;">
  <ion-list>
    <ion-item *ngFor="let product of products" button="false">
      <ion-label>
        <h2>{{ product.nome }}</h2>
        <p>Quantidade: {{ product.quantidade }}</p>
        <p *ngIf="product.listaNome">Lista: {{ product.listaNome }}</p>
        <p *ngIf="product.data">Data: {{ formatarData(product.data) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <div *ngIf="products.length === 0" class="empty-state">
    <ion-text color="medium">
      <p>Nenhum produto no histórico</p>
    </ion-text>
  </div>
</ion-content>